<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/kontoDetalje.css">
  <title>Konto-detaljer</title>
</head>

<body>
  <div class="container">
    <!-- Navigation Sidebar -->
    <aside class="sidebar">
      <div class="logo">
        <h3>SYDNET</h3>
      </div>
    
      <ul>
        <li><a href="/bruger/dashboard">Dashboard</a></li>
        <li><a href="/portefoljestyring/kontooplysninger">Kontooplysninger</a></li>
        <li><a href="/portefoljestyring/portefoeljeoversigt">Porteføljeoversigt</a></li>
      </ul>
      
    </aside>

    <main class = "content">
      <div class="header-div">
        <h1>Kontodetaljer for konto <%= konto.konto_id %></h1>
      </div>
    
          
      <!-- Saldo -->
      <div class="dashboard-grid">
        <div class="card">
          <h2>Konto: <%= konto.navn %></h2>      
          <h3>Saldo: <%= konto.valuta %> <%= konto.saldo %></h3>
          <h3>Bank:  <%= konto.bank_ref %></h3>      

          <table>
            <tr>
              <th>Transaktioner</th>
            </tr>
            <tr>
              <td>Dato</td>
              <td>ID</td>
              <td>Valuta</td>
              <td>Værdi</td>
            </tr>
              <% for (let j=0; j < transaktioner.length; j++) { %>
                <tr>
                  <td><%= transaktioner[j].datotid.toString().substring(3,15) %></td>
                  <td><%= transaktioner[j].transaktions_id%></td>
                  <td><%= transaktioner[j].valuta %></td>
                  <td><%= transaktioner[j].vaerdi %></td>
                </tr>
              <% } %>
          </table>
        
        </div>
      </div>
    
    
      
    </main>
</div>


  <!-- Popup form -->
  <div id="popup1" style="display: none;">
    <h3>Tilføj Portefølje</h3>
    <label for="navn">Navn:</label>
    <input type="text" id="portefoljeNavn"><br>
    <button onclick="OpretPortefølje()">Opret Portefølje</button>
    <button onclick="lukPopup1()">Luk</button>
  </div>

  <!-- **************************** SCRIPT START ********************** -->

  <script>
    function åbnPopup1() {
      document.getElementById('popup1').style.display = 'block';
    }

    function lukPopup1() {
      document.getElementById('popup1').style.display = 'none';
    }

    async function OpretPortefølje() {
      const navn = document.getElementById("portefoljeNavn").value;
      const konto_id = document.getElementById("kontoData").dataset.kontoId;

      const nyPortefølje = { navn, konto_id };

      const svar = await fetch('/portefoljestyring/opret-portefolje', {
        method: 'POST',
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(nyPortefølje)
      });

      const data = await svar.json();

      if (data.success) {
        const container = document.querySelector(".portefolje-box");

        const portElement = document.createElement("div");
        portElement.classList.add("port-liste");

        // Tilføj HTML 
        portElement.innerHTML = `
    <p><strong>Portefølje:</strong> ${data.portefolje_oprettelse.navn}</p>
    <button class="se-port">Se portefølje</button>
  `;

        container.appendChild(portElement);

        // Bind funktionalitet til knappen
        const knap = portElement.querySelector(".se-port");
        knap.addEventListener("click", function () {
          sePortefolje(data.portefolje_oprettelse.portefoelje_id);
        });
        lukPopup1();
      } else {
        alert("Noget gik galt!");
      }
    }

    // Redirection til den individuelle portefølje
    // Redirection til den individuelle portefølje
    function sePortefolje(id) {
      window.location.href = `/porteside/${id}`;
    }
  </script>

</body>

</html>