<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/portefolje-oversigt.css">
  <title>Konto-detaljer</title>
</head>

<body>
  <div class="container">
    <!-- Navigation Sidebar -->
    <aside class="sidebar">
      <div class="logo">
        <h3>SYDNET</h3>
      </div>
    
      <ul>
        <li><a href="/bruger/dashboard">Dashboard</a></li>
        <li><a href="/portefoljestyring/kontooplysninger">Kontooplysninger</a></li>
        <li><a href="/portefoljestyring/portefoeljeoversigt">Porteføljeoversigt</a></li>
      </ul>
      
    </aside>

    <main class = "content">
      <div class="header-div">
        <h1>Kontodetaljer for konto <%= konto.konto_id %></h1>
      </div>
    
          
      <!-- Saldo -->
      <div class="dashboard-grid">
        <div class="card">
          <h2>Konto: <%= konto.navn %></h2>      
          <h3>Saldo: <%= konto.valuta %> <%= konto.saldo %></h3>
          <h3>Bank:  <%= konto.bank_ref %></h3>      

          <table>
            <tr>
              <th>Transaktioner</th>
            </tr>
            <tr>
              <td>Dato</td>
              <td>ID</td>
              <td>Valuta</td>
              <td>Værdi</td>
            </tr>
              <% for (let j=0; j < transaktioner.length; j++) { %>
                <tr>
                  <td><%= transaktioner[j].datotid.toString().substring(3,15) %></td>
                  <td><%= transaktioner[j].transaktions_id%></td>
                  <td><%= transaktioner[j].valuta %></td>
                  <td><%= transaktioner[j].vaerdi %></td>
                </tr>
              <% } %>
          </table>
        
        </div>
      </div>
    
    
      
    </main>
</div>
</body>

</html>